div(class='progress-bar')
  label(class='visually-hidden' for='fb-bar') 35,929 our users on facebook
  progress(id='fb-bar' class='visually-hidden' min='0' max='50000' value='35929')
  div(class='progress-bar--view' aria-hidden='true')
    span(style='--progress-bar-value:70')
  span(class='progress-bar--label' aria-hidden='true') Facebook
  span(class='progress-bar--label' aria-hidden='true') 35,929