ul(class='social-link') 
  li(class='social-link--item')
    a(href='#' class='social-link--link')
      span(class='visually-hidden') oopen our twitter.
      include ../../images/icon/social/tt.svg
  li(class='social-link--item')
    a(href='#' class='social-link--link')
      span(class='visually-hidden') oopen our facebook.
      include ../../images/icon/social/fb.svg
  li(class='social-link--item')
    a(href='#' class='social-link--link')
      span(class='visually-hidden') oopen our linkedin.
      include ../../images/icon/social/li.svg