ul(class='social-link') 
  li(class='social-link--item')
    a(href='#' class='social-link--link')
      include ../../images/icon/social/tt.svg
  li(class='social-link--item')
    a(href='#' class='social-link--link')
      include ../../images/icon/social/fb.svg
  li(class='social-link--item')
    a(href='#' class='social-link--link')
      include ../../images/icon/social/li.svg