@import './review--logo.css';
@import './review--person.css';
@import './review--photo.css';
@import './review--post.css';
@import './review--name.css';

.review .review--logo {
  margin: calc(var(--bl) * 8 / 3) auto;
}

.review .review--person {
  margin-top: calc(var(--bl) * 2);
  margin-bottom: calc(var(--bl) / 0.6);
}

@media (min-width: 44em) {
  .review .review--msg span {
    display: block;
  }
}
