.hero picture {
  max-width: 112rem;
  margin: 0 auto;
}

.hero--img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
