div(class='offer')
  p(class='offer--header') 30-DAY FREE TRIAL
  div(class='offer--price')
    span(class='offer--value') $5
    span(class='offer--measure') /month per user
  p(class='offer--msg') Most calendars are designed for teams.
  button(class='btn btn-fill') Get Started