.footer .logo {
  align-items: center;
}

@media (min-width: 60em) {
  .footer .logo {
    align-items: flex-start;
  }
}

.footer .logo--link {
  width: auto;
}

.footer .logo--msg {
  display: block;
}
