.nav .menu--item {
  transition-duration: 0.15s, 0.15s;
  transition-property: transform, opacity;
}

.nav .menu--item:nth-child(1) {
  transition-delay: 0.15s, 0.2s;
}

.nav .menu--item:nth-child(2) {
  transition-delay: 0.2s, 0.25s;
}

.nav .menu--item:nth-child(3) {
  transition-delay: 0.25s, 0.3s;
}

.nav .menu--item:nth-child(4) {
  transition-delay: 0.3s, 0.35s;
}

.nav [aria-expanded='false'] ~ .menu .menu--item {
  opacity: 0;
  transform: translateX(calc(-100% - 2rem));
  transition-delay: 0.5s, 0s;
}

.nav [aria-expanded='true'] ~ .menu .menu--item {
  opacity: 1;
  transform: translateX(0%);
}

@media (min-width: 60em) {
  .nav [aria-expanded='false'] ~ .menu .menu--item,
  .nav [aria-expanded='true'] ~ .menu .menu--item {
    opacity: 1;
    transform: none;
  }
}
